{% load staticfiles %}
{#<!DOCTYPE html>#}
<html>
    <head>
        <title>rtt</title>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/rtt_app.css' %}">

{#        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2'></script>#}
{#        <script type='text/javascript' src='/rtt_app/static/js/jquery.mousewheel.min.js'></script>#}
{#        <script>#}
{#            $(document).ready(function() {#}
{#                $('html, body, .my-flex-container,').mousewheel(function(e, delta) {#}
{#                    // multiplying by 40 is the sensitivity,#}
{#                    // increase to scroll faster.#}
{#                    this.scrollLeft -= (delta * 40);#}
{#                    e.preventDefault();#}
{#                });#}
{#            });#}
{##}
{##}
{#            $(function() {#}
{#               $(".my-flex-container").mousewheel(function(event, delta) {#}
{#                  this.scrollLeft -= (delta * 30);#}
{#                  event.preventDefault();#}
{#               });#}
{#            });#}
{#        </script>#}
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <div class="hint-header-plus">
                    <div>Create a board</div>
                    <a href="{% url 'rtt_app.views.board_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                </div>
{#                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>#}
                <p class="top-menu">Hello, {{ user.username }}! <small>(<a href="{% url 'django.contrib.auth.views.logout' %}" class="log-out">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <div class="hint-header-rtt">
                <div>All boards</div>
                <h1><a href="{% url 'rtt_app.views.board_list' %}">rtt</a></h1>
            </div>
{#            <h1><a href="{% url 'rtt_app.views.board_list' %}">rtt</a></h1>#}
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>