{% load staticfiles %}
{#<!DOCTYPE html>#}
<html>
    <head>
        {% block title %}
            <title>rtt</title>
        {% endblock %}

        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/rtt_app.css' %}">
{##}
{#        <link rel="script" href="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">#}
{#        <link rel="script" href="http://d3js.org/d3.v3.min.js">#}
{#        <script type="text/javascript" src={% static "js/main.js" %}></script>#}

{#        <meta name="description" content="">#}
        <meta charset="UTF-8">

    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <div class="hint-header-plus">
                    <div>Create a board</div>
                    <a href="{% url 'rtt_app.views.board_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                </div>
{#                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>#}
                <p class="top-menu">Hello, {{ user.username }}! <small>(<a href="{% url 'django.contrib.auth.views.logout' %}" class="log-out">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <div class="hint-header-rtt">
                <div>All boards</div>
                <h1><a href="{% url 'rtt_app.views.board_list' %}">rtt</a></h1>
            </div>
{#            <h1><a href="{% url 'rtt_app.views.board_list' %}">rtt</a></h1>#}
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>