{% extends 'rtt_app/base.html' %}

{% block content %}
    <div class="board">
        {% if board.published_date %}
{#            <div class="date">#}
{#                {{ post.published_date }}#}
{#            </div>#}
        {% else %}
            {% if user.is_authenticated %}
                <a id="buttons" class="board-buttons" href="{% url 'rtt_app.views.board_publish' pk=board.pk %}">Publish</a>
                <a id="buttons" class="board-buttons" href="{% url 'board_remove' pk=board.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a id="buttons" class="board-buttons" href="{% url 'board_edit' pk=board.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% else %}
                <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
        {% endif %}
        <div class="hint">
            <div>Delete a board</div>
            <a id="buttons" class="board-buttons" href="{% url 'board_remove' pk=board.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
{#        <a id="buttons" class="board-buttons" href="{% url 'board_remove' pk=board.pk %}"><span class="glyphicon glyphicon-remove"></span></a>#}
        <div class="hint">
            <div>Change the title of the board</div>
            <a id="buttons" class="board-buttons" href="{% url 'board_edit' pk=board.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        </div>
{#        <a id="buttons" class="board-buttons" href="{% url 'board_edit' pk=board.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>#}
        <div class="hint">
            <div>Create a card</div>
            <a id="buttons" class="board-buttons" href="{% url 'card_create' pk=board.pk%}"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
{#        <a id="buttons" class="board-buttons hint" href="{% url 'card_create' pk=board.pk%}" title="hint"><span class="glyphicon glyphicon-plus"></span></a>#}
        <h1 align="center" class="board-title">{{ board.title }}</h1>
{#        <p>{{ board.text|linebreaks }}</p>#}
    </div>

    <div class="my-flex-container">
        {% for card in cards %}
            {% if card.board == board %}
                <div class="col-md-2">
                    <div class="card">
                        <a id="buttons" class="remove-card" href="{% url 'card_remove' pk=board.pk card_id=card.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        <h3 align="center">{{ card.title }}</h3>
        {#                <h1 align="center"><a href="{% url 'board_detail' pk=card.pk %}">{{ card.title }}</a></h1>#}
                        <form>
                            <button type="button" class="button-new-task">Create a task..</button>
                        </form>
    {#                    <form action="demo_form.asp" method="post">#}
    {#                        <input type="text" name="fname" required>#}
    {#                        <input type="submit" value="Submit">#}
    {#                    </form>#}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
