{% extends 'rtt_app/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
{#            <div class="date">#}
{#                {{ post.published_date }}#}
{#            </div>#}
        {% else %}
            {% if user.is_authenticated %}
                <a id="buttons" class="btn btn-default" href="{% url 'rtt_app.views.post_publish' pk=post.pk %}">Publish</a>
                <a id="buttons" class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a id="buttons" class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% else %}
                <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
        {% endif %}
        <h1 align="center" class="post-title">{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endblock %}
