h1 a {
    color: #FCA205;
    /*font-family: 'Lobster';*/
    font-family: 'Poiret One', cursive;
}

.col-md-8 {
    margin-top: 150px;
    width: 100%;
    /*margin-left: -35px;*/
}

body {
    background-color: whitesmoke;
}

.content {
    width: 100%;
}

.page-header {
    position: fixed;
    width: 100%;
    background-color: teal;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    margin: 10px;
    text-decoration: none;
}

.log-out:active, .log-out:visited {
    color: white;
}

.log-out:hover {
    color: orange;
    text-decoration: none;
}

h1, h2, h3, h4, p, a {
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Poiret One', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.save-button {
    float: left;
}

.board-form textarea, .board-form input {
    width: 60%;
    font-weight: bold;
}

.card-form textarea, .card-form input {
    width: 60%;
    font-weight: bold;
}

.registration-form textarea, .registration-form input {
    width: 60%;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    margin-left: 10%;
    table-layout: auto;
    text-align: center;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 20pt;
    margin: 20px;
}

.board {
    /*margin-bottom: 70px;*/
    position: relative;
    width: 40%;
    margin-left: 30%;
    background-color: mintcream;
    padding: 10px;
    padding-top: 0;
    margin-bottom: 2.5%;
    border: 1px solid lightseagreen;
    /*border-radius: 10px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.my-flex-container{
    display: flex;
    /*height: 50%;*/
    flex-direction: row;
    justify-content: flex-start;

    align-items: flex-start;
    margin-left: -35px;
    /*box-sizing:border-box;*/
    /*overflow-x: scroll;*/
    /*overflow-y: hidden;*/
    /*white-space: nowrap;*/
}

.card {
    width: 200px;
    height: auto;
    background-color: lemonchiffon;
    padding: 3px;
    padding-right: 0;
    margin-left: 2.5%;
    margin-right: 0.5%;
    /*margin-top: 5px;*/
    border: 1px solid saddlebrown;
    /*border-radius: 10px;*/
    /*display: inline-block;*/
    /*float: left;*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.button-new-task {
    margin: 20%;
    margin-bottom: 0;
    margin-top: 0;
    width: auto;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: saddlebrown;
    background-color: lightyellow;
    opacity: 0.7;
    border: none;
    font-family: 'Poiret One', cursive;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button-new-task:hover {
    background-color: saddlebrown;
    color: white;
}

.board h1 a, .board h1 a:visited {
    color: #000000;
}

#buttons {
    float: right;
    margin: 5px;
}

.board-buttons, .board-buttons:hover {
    border: hidden;
    background-color: transparent;
    color: teal;
}

/*.hint {*/
    /*background-color: teal;*/
    /*color: white;*/
    /*border: hidden;*/
/*}*/

.hint div{
    display: none;
}

.hint:hover div{
    display: block;
    position: absolute;
    background: teal;
    border-radius: 3px;
    color: white;
    /*content: attr(title);*/
    left: 80%;
    top: 35%;
    padding: 5px 15px;
    /*z-index: 98;*/
    width: auto;
    opacity: 0.85;
}

.hint-header-plus div{
    display: none;
}

.hint-header-plus:hover div{
    display: block;
    position: absolute;
    background: teal;
    border-radius: 3px;
    color: white;
    left: 90%;
    top: 75px;
    padding: 5px 15px;
    /*z-index: 98;*/
    width: auto;
    opacity: 0.85;
}

.hint-header-rtt {
    width: 5%;
}

.hint-header-rtt div{
    display: none;
}

.hint-header-rtt:hover div{
    display: block;
    position: absolute;
    background: teal;
    border-radius: 3px;
    color: white;
    left: 2.5%;
    top: 75px;
    padding: 5px 15px;
    /*z-index: 98;*/
    width: auto;
    opacity: 0.85;
}

.remove-card, .remove-card:hover {
    float: right;
    margin: 5px;
    border: hidden;
    background-color: transparent;
    color: saddlebrown;
}

.board p {
    font-family: 'Poiret One', cursive;
    color: black;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}

.card p {
    font-family: 'Poiret One', cursive;
    color: black;
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
}
